.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  overflow: hidden;
}
@media (max-width: 576px) {
  .row .col-xs-1 {
    padding: 10px;
    width: 8.3333333333%;
  }
}
@media (max-width: 576px) {
  .row .col-xs-2 {
    padding: 10px;
    width: 16.6666666667%;
  }
}
@media (max-width: 576px) {
  .row .col-xs-3 {
    padding: 10px;
    width: 25%;
  }
}
@media (max-width: 576px) {
  .row .col-xs-4 {
    padding: 10px;
    width: 33.3333333333%;
  }
}
@media (max-width: 576px) {
  .row .col-xs-5 {
    padding: 10px;
    width: 41.6666666667%;
  }
}
@media (max-width: 576px) {
  .row .col-xs-6 {
    padding: 10px;
    width: 50%;
  }
}
@media (max-width: 576px) {
  .row .col-xs-7 {
    padding: 10px;
    width: 58.3333333333%;
  }
}
@media (max-width: 576px) {
  .row .col-xs-8 {
    padding: 10px;
    width: 66.6666666667%;
  }
}
@media (max-width: 576px) {
  .row .col-xs-9 {
    padding: 10px;
    width: 75%;
  }
}
@media (max-width: 576px) {
  .row .col-xs-10 {
    padding: 10px;
    width: 83.3333333333%;
  }
}
@media (max-width: 576px) {
  .row .col-xs-11 {
    padding: 10px;
    width: 91.6666666667%;
  }
}
@media (max-width: 576px) {
  .row .col-xs-12 {
    padding: 10px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .row .col-sm-1 {
    padding: 10px;
    width: 8.3333333333%;
  }
}
@media (max-width: 768px) {
  .row .col-sm-2 {
    padding: 10px;
    width: 16.6666666667%;
  }
}
@media (max-width: 768px) {
  .row .col-sm-3 {
    padding: 10px;
    width: 25%;
  }
}
@media (max-width: 768px) {
  .row .col-sm-4 {
    padding: 10px;
    width: 33.3333333333%;
  }
}
@media (max-width: 768px) {
  .row .col-sm-5 {
    padding: 10px;
    width: 41.6666666667%;
  }
}
@media (max-width: 768px) {
  .row .col-sm-6 {
    padding: 10px;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .row .col-sm-7 {
    padding: 10px;
    width: 58.3333333333%;
  }
}
@media (max-width: 768px) {
  .row .col-sm-8 {
    padding: 10px;
    width: 66.6666666667%;
  }
}
@media (max-width: 768px) {
  .row .col-sm-9 {
    padding: 10px;
    width: 75%;
  }
}
@media (max-width: 768px) {
  .row .col-sm-10 {
    padding: 10px;
    width: 83.3333333333%;
  }
}
@media (max-width: 768px) {
  .row .col-sm-11 {
    padding: 10px;
    width: 91.6666666667%;
  }
}
@media (max-width: 768px) {
  .row .col-sm-12 {
    padding: 10px;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .row .col-md-1 {
    padding: 10px;
    width: 8.3333333333%;
  }
}
@media (max-width: 992px) {
  .row .col-md-2 {
    padding: 10px;
    width: 16.6666666667%;
  }
}
@media (max-width: 992px) {
  .row .col-md-3 {
    padding: 10px;
    width: 25%;
  }
}
@media (max-width: 992px) {
  .row .col-md-4 {
    padding: 10px;
    width: 33.3333333333%;
  }
}
@media (max-width: 992px) {
  .row .col-md-5 {
    padding: 10px;
    width: 41.6666666667%;
  }
}
@media (max-width: 992px) {
  .row .col-md-6 {
    padding: 10px;
    width: 50%;
  }
}
@media (max-width: 992px) {
  .row .col-md-7 {
    padding: 10px;
    width: 58.3333333333%;
  }
}
@media (max-width: 992px) {
  .row .col-md-8 {
    padding: 10px;
    width: 66.6666666667%;
  }
}
@media (max-width: 992px) {
  .row .col-md-9 {
    padding: 10px;
    width: 75%;
  }
}
@media (max-width: 992px) {
  .row .col-md-10 {
    padding: 10px;
    width: 83.3333333333%;
  }
}
@media (max-width: 992px) {
  .row .col-md-11 {
    padding: 10px;
    width: 91.6666666667%;
  }
}
@media (max-width: 992px) {
  .row .col-md-12 {
    padding: 10px;
    width: 100%;
  }
}
@media (max-width: 1140px) {
  .row .col-lg-1 {
    padding: 10px;
    width: 8.3333333333%;
  }
}
@media (max-width: 1140px) {
  .row .col-lg-2 {
    padding: 10px;
    width: 16.6666666667%;
  }
}
@media (max-width: 1140px) {
  .row .col-lg-3 {
    padding: 10px;
    width: 25%;
  }
}
@media (max-width: 1140px) {
  .row .col-lg-4 {
    padding: 10px;
    width: 33.3333333333%;
  }
}
@media (max-width: 1140px) {
  .row .col-lg-5 {
    padding: 10px;
    width: 41.6666666667%;
  }
}
@media (max-width: 1140px) {
  .row .col-lg-6 {
    padding: 10px;
    width: 50%;
  }
}
@media (max-width: 1140px) {
  .row .col-lg-7 {
    padding: 10px;
    width: 58.3333333333%;
  }
}
@media (max-width: 1140px) {
  .row .col-lg-8 {
    padding: 10px;
    width: 66.6666666667%;
  }
}
@media (max-width: 1140px) {
  .row .col-lg-9 {
    padding: 10px;
    width: 75%;
  }
}
@media (max-width: 1140px) {
  .row .col-lg-10 {
    padding: 10px;
    width: 83.3333333333%;
  }
}
@media (max-width: 1140px) {
  .row .col-lg-11 {
    padding: 10px;
    width: 91.6666666667%;
  }
}
@media (max-width: 1140px) {
  .row .col-lg-12 {
    padding: 10px;
    width: 100%;
  }
}
@media (min-width: 1140px) {
  .row .col-xl-1 {
    padding: 10px;
    width: 8.3333333333%;
  }
}
@media (min-width: 1140px) {
  .row .col-xl-2 {
    padding: 10px;
    width: 16.6666666667%;
  }
}
@media (min-width: 1140px) {
  .row .col-xl-3 {
    padding: 10px;
    width: 25%;
  }
}
@media (min-width: 1140px) {
  .row .col-xl-4 {
    padding: 10px;
    width: 33.3333333333%;
  }
}
@media (min-width: 1140px) {
  .row .col-xl-5 {
    padding: 10px;
    width: 41.6666666667%;
  }
}
@media (min-width: 1140px) {
  .row .col-xl-6 {
    padding: 10px;
    width: 50%;
  }
}
@media (min-width: 1140px) {
  .row .col-xl-7 {
    padding: 10px;
    width: 58.3333333333%;
  }
}
@media (min-width: 1140px) {
  .row .col-xl-8 {
    padding: 10px;
    width: 66.6666666667%;
  }
}
@media (min-width: 1140px) {
  .row .col-xl-9 {
    padding: 10px;
    width: 75%;
  }
}
@media (min-width: 1140px) {
  .row .col-xl-10 {
    padding: 10px;
    width: 83.3333333333%;
  }
}
@media (min-width: 1140px) {
  .row .col-xl-11 {
    padding: 10px;
    width: 91.6666666667%;
  }
}
@media (min-width: 1140px) {
  .row .col-xl-12 {
    padding: 10px;
    width: 100%;
  }
}

@media (max-width: 992px) {
  header .header-one {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1140px) {
  header .header-one {
    padding: 0px 20px;
  }
}
@media (min-width: 992px) and (max-width: 1140px) {
  header .header-two {
    padding: 0px 20px;
  }
}
@media (max-width: 992px) {
  header .header-two {
    padding: 20px 35px;
  }
}
@media (max-width: 576px) {
  header .header-two {
    padding: 40px 15px 15px 15px;
  }
}
@media (max-width: 576px) {
  header .header-two .container {
    position: relative;
  }
}
@media (max-width: 992px) {
  header .header-two .container .bar {
    display: block;
  }
}
@media (max-width: 992px) {
  header .header-two .container .bar i {
    color: #666;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  header .header-two .container .logo {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  header .header-two .container .logo a img {
    width: 100px;
  }
}
@media (max-width: 992px) {
  header .header-two .container .search-bar {
    display: none;
  }
}
@media (max-width: 992px) {
  header .header-two .container .login ul li:first-child {
    display: none;
  }
}
@media (max-width: 992px) {
  header .header-three {
    display: none;
  }
}/*# sourceMappingURL=responsive.css.map */